
.bg {
        background-image: url(../img/background\ 1.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 350px;
        padding: 0px;
        position: relative;
        padding: 58px 0 38px;
}
.bg:hover {
        background-size: 135%;
        transition: 0.5s;
}
.bg::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.55);
        position: absolute;
        top: 0;
        left: 0;
}
/*.title__bg::after{
        content: "";
        display: block;
        width: 64px;
        height: 2px;
        background-color: red;
        margin: 0 auto;
        margin-top: 10px;*/
}
}
.title__bg::after{
        content: "";
        display: block;
        width: 64px;
        height: 2px;
        background-color:rgba(255, 255, 255, 1);
        margin: 0 auto;
        margin-top: 34px;
        margin-bottom: 34px;
}
.hr {
        width: 135px;
        height: 22px;
        position: relative;
        z-index: 1;
        margin: auto;
        text-align: center;
        border: rgba(196, 196, 196, 1) solid 1px;
        padding: 10px;
}
.hr:hover {
        background-color: rgba(236, 121, 121, 0.65);
        transform: scale(1.25, 1.25);
        border: none;
        font-size: 20px;
        transition: 0.5s;
}
a {
        text-decoration: none;
        color:  rgba(255, 255, 255, 1);
}
a:hover {
        color: rgb(255, 248, 248);
        transition: 0.5s;
}
.title__bg {
        position: relative;
        z-index: 1;
        font-family: 'Raleway';
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        margin-bottom: 34px;
}
.title__bg span::after{
        content: '';
        position: relative;
        z-index: 1;
        margin: auto;
        width: 64px;
        height: 2px;
        color: 1px  rgba(255, 255, 255, 1);
        display: block;
        margin: auto;
}
.container_discription__bg {
        position: relative;
        z-index: 1;
        color: rgba(255, 255, 255, 0.8);
        font-family: 'Raleway';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        margin: 34px 0 57px;
}