.contact {
        padding: 100px 0;
        
}
.contact__container {
        padding: 0 15px;
        max-width: 1170px;
        margin: auto;
}
.contact__title {
        font-family: 'Raleway', sans-serif;
        color: #212121;
        font-size: 36px;
        line-height: 42px;
        font-weight: bold;
        text-align: center;
}
.contact__title::after {
        content: "";
        display: block;
        width: 64px;
        height: 1px;
        border: none;
        background-color: rgba(231, 36, 36, 1);
        margin: auto;
        margin-top: 34px;
        margin-bottom: 34px;
}
.contact__discription {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: rgba(134, 135, 139, 1);
        margin-bottom: 63px;
}
.user__data {
        display: flex;
        flex-direction: row;
        justify-content: center;
}
input {
        border: none;
        width: 478px;
        border-bottom: 1px solid rgba(189, 189, 189, 1);
        margin-bottom: 31px;
}
.left__item {
        max-width: 478px;
        margin: 0 111px;
}
.user_name::after {
        content: "*";
        color: red;
}
.user_email::after {
        content: "*";
        color: red;
}
.user_passport::after {
        content: "*";
        color: red;
}
.right__item {
        max-width: 478px;
        margin: 0 111px;
}
.contact__textarea {
        width: 400px;
        height: 183px;
}
.send__button {
        width: 166px;
        height: 42px;
        background-color: rgba(236, 121, 121, 1);
        border: none;
        color: rgba(255, 255, 255, 1);
        display: block;
        margin: auto;
        margin-top: 68px;
}
.send__button:hover {
        transform: scale(1.2, 1.2);
        font-size: 16px;
        transition: 0.3s;
}