header {
        background-color: rgba(0, 0, 0, 1);
}
.header__container {
        max-width: 1170px;
        margin: auto;
        padding: 15px;
        display: flex;
        justify-content: space-between;

}
.logo {
        font-family: "Raleway";
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 35px;
        color: #FFFFFF;
        text-align: left;
}
.logo::after {
        content: "IT";
        color:  #EC7979;
        font-family: "Raleway";
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 35px;
        position: absolute;
        max-width: 30px;
}
.logo:hover {
        font-size: 45px;
        transform: rotate(360deg);
        transition: 0.5s;
}
nav {
        display: flex;
}
.header__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
}
.header__item {
        padding: 0 14px;
        color: rgba(255, 255, 255, 0.7);
        font-family: 'Open Sans';
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        border-bottom: transparent 2px solid;
        border-radius: 0px;
        text-decoration: none;
        list-style-type: none;
}
.header__item:hover {
        content: "";
        text-decoration: none;
        border-bottom: rgba(236, 121, 121, 1) 2px solid;
        border-radius: 0px;
}