.promo {
        width: 100%;
        padding: 100px 0;
        margin: 0;
}
.container {
        max-width: 1170px;
}
.tabs {
}
.tab__panel {
}
.tab__item {
}
.tabs__content-container {
}
.tabs__content {
}
.tabs__text {
}
.tabs__title {
}
.tabs__text__item {
}
.tabs__download {
}
.tabs__img-content {
}