@import url("../css/header.css");
@import url("../css/awesome.css");
@import url("../css/pricing.css");
@import url("../css/customers__saying.css");
@import url("../css/bg.css");
@import url("../css/contact.css");
@import url("../css/footer.css");




* {
        margin: 0px; 
        padding: 0px;      
}
section {
        padding: 100px 0px;
        width: 100%;
}
.container{
        max-width: 1170px;
        margin: auto;
        color: rgb(5, 5, 5);
}
.title span::after {
        content: '';
        
        width: 64px;
        height: 2px;
        background-color:  rgba(231, 36, 36, 1);
        display: block;
        margin: auto;
        margin-top: 34px;
        margin-bottom: 34px;
}
ul {
        list-style: none;
        padding: 0;
        margin: 0;
}